/*
    Css page for the index.html
*/

html {
    background-color: rgba(128, 128, 128, 0.548);
}

section>nav {
    display: table;
    width: 75%;
    margin: auto;
    margin-top: 2em;
}

section>nav a {
    padding: 10px;
    text-decoration: none;
    background-color: rgb(73, 73, 73);
    width: 30%;
    margin: auto;
    color: white;
}

figure {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

figure img {
    width: 100%;
    opacity: 0.9;
}

html,
body,
section {
    width: 100%;
}

section>nav a:hover {
    background-color: rgb(95, 94, 94);
}

section>ul {
    display: table-row;
}

section>ul>li {
    display: table-cell;
    text-align: center;
}

section>ul>li>a {
    display: block;
}

section>p {
    text-align: center;
}

h1 {
    color: white;
}