/* Css for the pages like experience.html and skills.html */

section {
    width: 73%;
    margin: auto;
}

section p {
    text-align: justify;
}

/* section h2 {
    text-align: center;
} */

/* section ul {
    width: 40%;
    margin: auto;
} */

footer {
    background-color: darkgray;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
}

footer p {
    text-align: center;
    color: white;
}

footer p:first-of-type {
    margin-bottom: 0;
}

footer p:last-of-type {
    margin-top: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: rgb(230, 227, 227);
}